#box {
    background-color: blue;
}
.heading{
    color: red;
}
button{
    background-color: green ;
}
h1{
    text-align: center;
    text-transform: capitalize;
}
*{
    font-family:'Times New Roman', Times, serif
}
/*The property applied to parent will be applied to child as well*/
#outer{
    font-size: 25px;
}